{% extends 'base_zodiac.html' %}
{% load static %}

{%block content %}


  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      {% if zodiac_sign.title == "Ox" %}
      <h1 class="mt-5">YOU ARE AN {{zodiac_sign.title|upper}}</h1>
      {% else %}
      <h1 class="mt-5">YOU ARE A {{zodiac_sign.title|upper}}</h1>
      {% endif %}
        <p class="lead">{{zodiac_sign.description}}</p>
        <ul class="list-unstyled">
        </ul>
      </div>
    </div>
  

<!-- Page Features -->
  <div class="row text-center">
  
    
    <div class="col-lg-3 col-md-6 mb-4" >
      <div class="card h-100">
        
  {% if zodiac_sign.title == "Rat" %}
    <img src="{% static 'photo/1RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Ox" %}
    <img src="{% static 'photo/2OX.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Tiger" %}
    <img src="{% static 'photo/3TIGER.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Rabbit" %}
    <img src="{% static 'photo/4RABBIT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Dragon" %}
    <img src="{% static 'photo/5DRAGON.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Snake" %}
    <img src="{% static 'photo/1RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Horse" %}
    <img src="{% static 'photo/1RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Goat" %}
    <img src="{% static 'photo/1RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Monkey" %}
    <img src="{% static 'photo/1RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Rooster" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Dog" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Pig" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% else %}
    {{zodiac_sign.title}}
  {% endif %}
        
        <div class="card-body">
          <h4 class="card-title">{{zodiac_sign.title|upper}}</h4>
        </div> 
        <div class="card-footer">
        <p class="card-text">{{zodiac_sign.description}}</p>
      </div>
      </div>
    </div>


    <div class="col-lg-6 col-md-12 mb-8" >
      <div class="card h-65" >
        <div class="card-body">
        <h4 class="text-primary"> {{day_date}} </h4>
        <p class="card-text"> 
        <p class="text-primary"> {{description}}  </p>

        </div>     
        <div class="card-footer">
        </div>
        </div>
        </div>

    <div class="col-lg-3 col-md-6 mb-4" >
      <div class="card h-100">

  {% if zodiac_sign.title == "Rat" %}
    <img src="{% static 'photo/1RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Ox" %}
    <img src="{% static 'photo/2OX.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Tiger" %}
    <img src="{% static 'photo/3TIGER.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Rabbit" %}
    <img src="{% static 'photo/4RABBIT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Dragon" %}
    <img src="{% static 'photo/5DRAGON.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Snake" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Horse" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Goat" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Monkey" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Rooster" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Dog" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% elif zodiac_sign.title == "Pig" %}
    <img src="{% static 'photo/RAT.png' %}" alt="My image">
  {% else %}
    {{zodiac_sign.title}}
  {% endif %}
        
        <div class="card-body">
          <h4 class="card-title">{{zodiac_sign.title|upper}}</h4> 
        </div> 
        <div class="card-footer">
        <p class="card-text">{{zodiac_sign.description}}</p> 
      </div>
      </div>
    </div>

    </div>
</div>

  
{% endblock %}