{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS --> 
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

{% include "navigation_bar.html" %}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><center>Guestbook</center></h1>

        <hr>
        <center>
        <img class="img-fluid rounded" src="https://cdn-images-1.medium.com/max/600/1*WKUVfwUL0GyYJ1BT_W5D4A.jpeg" alt="">
        </center>
        <hr>
        <!-- Post Content -->
        <p class="lead">Thank you for visiting the website. You can leave a comment or a thumbs up for the bright future of all the Oxen</p>
        
        <blockquote class="blockquote">
          <footer class="blockquote-footer">Author of this page is an Ox :)
          </footer>
        </blockquote>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
          
        
        
{% for instance in object_list %}
          <div class="card my-4">
            <h5 class="card-header">{{instance.author}}</h5>
            <a >{{instance.description}}</a> 
        </div>
{% endfor %}




      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Ludwik Papaj</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://www.linkedin.com/in/ludwik-papaj-226897205/">My LinkedIn</a>
                  </li>
                  <li>
                    <a href="https://github.com/LUDzik77">My GitHub</a>
                  </li>
                  <li>
                    <a href="https://www.hackerrank.com/ludwikpapaj">My Hackerrank</a>
                  </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>  

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Surprise</h5>
          <div class="card-body">
            <li>
              <a href="game/">click me!</a>
            </li>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>




